
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Divisores verticais nas tabelas */
table td + td { 
  border-left:1px solid #dddddd; 
}

.app-btn-usuario {
  cursor: pointer;
  user-select: none;
}

.app-btn-text {
  font-weight: bold;
  user-select: none;
}